h1#logo{
  font-family: pf;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  text-align: center;
  color: #333;
}
#logo-tagline{
  font-family: pf;
  font-size: 0.85rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: -2.188rem;
  color: #333;
}
#main-nav{
  text-align: center;
  border-top: 2px solid #333;
}
